body
  max-width: 90% !important

ul
  list-style: none
  padding: 0
  
header
  margin-bottom: 2rem

main
  display: flex
  justify-content: space-between

  .cards-wrapper
    display: grid
    grid-template-columns: repeat(5, 1fr)

  .card
    width: 13rem
    height: 18rem
    border: 1px solid white